

  

li{
    text-align: center;
    display: inline-block;
    margin:0 0 30px 40px;
    border-radius: 4px;
    background-color: lightskyblue;
    border-top-left-radius: 30px;   

}

.article__button{
    margin: 0 auto;
    text-align: center;
    display: block;
    padding: 5px 50px;
    border-radius: 30px;
    background-color: lightblue;
    top: 10px
}
p{
    font-weight: 500;
    margin: 10px 0;
}
.article{
    display: inline-block;
    width:400px;
    
}
.article__img__wrapper{
    aspect-ratio: 1/1;
    overflow: hidden;
    width: 350px;
   height:300px;
    border-top-left-radius: 30px;  
    margin-bottom: 5px; 
    
}
.article__img__wrapper .article__img{
    width: 100%;
    height:100%;
object-fit: fill;

}

